# pastebin.com API key
api_dev_key = 'your_api_dev_key'
# pastebin.com username
username = 'your_username'
# pastebin.com password
password = 'your_password'
# Max results, default=50, min=1, max=1000
api_results_limit = 25
